<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>新增菜单</title>
    <link rel="stylesheet" th:href="|${basePath}/static/layui/css/layui.css|" media="all" />
    <script th:src="|${basePath}/static/js/jquery.min.js?v=2.1.4|"></script>
    <script type="text/javascript" th:src="|${basePath}/static/layui/layui.js|"></script>
</head>
<body>
<form class="layui-form" id="meanForm">
    <div class="layui-form-item" style="padding-top: 20px">
        <label class="layui-form-label">菜单名称：</label>
        <div class="layui-input-block" style="width: 75%">
            <input type="text" id="meanName" name="meanName"  autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="padding-top: 17px">
        <label class="layui-form-label">菜单路径：</label>
        <div class="layui-input-block" style="width: 75%">
            <input type="text" id="meanUrl" name="meanUrl"  autocomplete="off" placeholder="请输入菜单路径" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="padding-top: 17px">
        <label class="layui-form-label">菜单权限：</label>
        <div class="layui-input-block" style="width: 75%">
            <select name="roleId" id="roleId">
                <option value="" selected></option>
                <option th:each="role : ${role}" th:value="${role?.roleId}" th:text="${role?.roleName}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="padding-top: 17px">
        <label class="layui-form-label">是否显示：</label>
        <div class="layui-input-block" style="width: 75%">
            <select name="isMean" id="isMean">
                <option th:each="dictionary : ${dictionary}" th:value="${dictionary?.dicCode}" th:text="${dictionary?.dicName}"></option>
            </select>
        </div>
    </div>
    <div style="position: fixed;bottom: 20px;text-align: center;width: 100%;">
        <input type="button" class="layui-btn" onclick="add();" value="保存"></input>
    </div>
</form>
<script>
    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
    layui.use(['jquery','layer','form'],function(){
        var $=layui.jquery
            ,layer=layui.layer
            ,form=layui.form
    });

    function add(){
        var meanName = $("#meanName").val();
        var meanUrl = $("#meanUrl").val();
        var role = $("#roleId").val();
        console.log(role);
        if(meanName == ''){
            layer.msg("请输入菜单名称");
            $("#meanName").focus();
            return;
        }
        if(meanUrl == ''){
            layer.msg("请输入菜单路径");
            $("#meanUrl").focus();
            return;
        }
        if(role == ''){
            layer.msg("请选择权限菜单！");
            return;
        }

        $.ajax({
            type: 'POST',
            url: '[[${basePath}]]/admin/formMean',
            data: $('#meanForm').serialize(),
            dataType: 'json',
            success: function(data) {
                if(data.success) {
                    parent.window.location.reload();
                    parent.layer.close(index);
                }else{
                    if(data.message != null && data.message !=''){
                        layer.msg(data.message);
                    }else{
                        layer.msg("新增失败");
                    }

                }
            },
            error: function(data) {
                layer.msg('连接超时！');
            },
        });
    }
</script>
</body>
</html>